.container{
    width: 1000px;
    margin:0 auto;
}
.section1{
    text-align: center;
}
.section2{
    text-align: center;
}
.description {
    margin: auto;
    text-align: center;
}
.symptom img{
    display: block;
    margin: auto;
}

header {
    background-color: rgb(177, 0, 0);
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

header img {
    max-width: 100%;
}

header a {
    color: blue;
}